*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#padre{
    height: 960px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
header{
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
}
.cabecera{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.navconjunto{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: calc(100vh - 150px);
    z-index: 1;
}
.navconjunto.activo {
  display: flex;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
ul li a {
  text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}
a{
   text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace; 
}
div p{
  text-decoration: none;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.menuicono {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
}
.menuicono .bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: black;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .navconjunto {
    display: flex !important;
    position: static;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  ul {
    flex-direction: row;
    gap: 40px;
    width: 100%;
    justify-content: space-around;
  }
}

main{
    background-color: rgb(255, 255, 255);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 0cap;
    border-right: 0cap;
    border-style: solid;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    font-size: 24px;
}
#izquierda{
    height: 550px;
    width: 47%;
    margin-left: 1%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#derecha{
    height: 550px;
    width: 40%;
    margin-right: 1%;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.unete{
    margin-left: 10%;
}
#logo{
    height: 100px;
    width: 8%;
}
p{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
h2{
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
.info{
    display: flex;
    justify-content: center;
}
.letras{
    background-color: gray;
    width: 5%;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: black;
    border-radius: 15%;
    border: 1px;
    height: 60px;
    width: 130px;
    color: white;
    border-style: double;   
}
img{
    height: 150px;
    width: 100%;
}
.imagenes{
    height: 150px;
    width: 30%;
}
#img1{
    display: flex;
    height: 120px;
    width: 30%;
}
#img2{
    width: 32%;
    height: 150px;
    margin-left: 27%;
}

#menu-toggle {
  display: none;
}


.navconjunto {
  display: none;
}

/*menu hamburguesa*/
#menu-toggle:checked ~ .navconjunto {
  display: flex;
}


#menu-toggle:checked + label.menuicono .bar:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

#menu-toggle:checked + label.menuicono .bar:nth-child(2) {
  opacity: 0;
}

#menu-toggle:checked + label.menuicono .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}

@media (max-width: 768px) {

  .menuicono {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 20;
  }

  .navconjunto {
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    height: calc(100vh - 120px);
    background: white;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  ul {
    flex-direction: column;
    gap: 25px;
  }
}


@media (min-width: 768px) {
  .menuicono {
    display: none;
  }

  .navconjunto {
    display: flex !important;
    position: static;
    height: auto;
    flex-direction: row;
    justify-content: flex-end;
  }

  ul {
    flex-direction: row;
    gap: 20px;
  }
}

@media (max-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px;
        height: 120px;
    }

    #logo {
        width: 100px;
        object-fit: cover;
    }
    .menuicono {
        display: flex;
    }
    .navconjunto {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        height: calc(100vh - 120px);
        background: white;
        z-index: 10;
    }

    .navconjunto.activo {
        display: flex;
    }

    ul {
        flex-direction: column;
        gap: 25px;
        text-align: center;
    }
    main {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 30px;
    }

    #izquierda, #derecha {
        width: 90%;
        height: auto;
        margin: 0;
        align-items: center;
    }

    .imagenes {
        width: 80%;
        height: auto;
    }

    .imagenes img,
    #img1 img, 
    #img2 img {
        width: 100%;
        height: auto;
    }

    .unete {
        text-align: center;
        margin-left: 0;
    }
    p, h2 {
        text-align: center;
        padding: 0 10px;
    }
    footer {
        flex-direction: column;
        height: auto;
        gap: 15px;
        padding: 25px 0;
    }
}

